*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Tahoma, sans-serif;
}

body{
  background:#0f172a;
  color:#fff;
}

header{
  position:fixed;
  top:0;
  width:100%;
  background:#020617;
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
  z-index:100;
}

.logo{
  color:#00ffd5;
  font-size:22px;
}

nav a{
  color:#fff;
  margin:0 10px;
  text-decoration:none;
}

.hero{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.hero span{
  color:#00ffd5;
}

.hero button{
  margin-top:20px;
  padding:12px 30px;
  border:none;
  background:#00ffd5;
  cursor:pointer;
  font-size:16px;
}

.section{
  padding:100px 40px;
  text-align:center;
}

.section.dark{
  background:#020617;
}

.cards{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:30px;
}

.card{
  background:#111827;
  padding:30px;
  border-radius:12px;
  width:200px;
}

form{
  max-width:400px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:15px;
}

input,textarea{
  padding:12px;
  border:none;
  border-radius:6px;
}

footer{
  background:#020617;
  padding:20px;
  text-align:center;
  opacity:.7;
}